.x2 ._iuz {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/devlap-reactions@2x.png") !important;
}

._iuz {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/devlap-reactions.png") !important;
}

._2p7a {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/devlabbed.png") !important;
}
